# 1. How can you retrive all the information from the `cd.facilities` table?

```mysql
SELECT * FROM cd.facilities
```

___

# 2. You want to print out a list of all of the facilities and their cost to members. How would you retrieve a list of only facility names and costs?

```mysql
SELECT name, membercost FROM cd.facilities
```

____

# 3. How can you produce a list of facilities that charge a fee to members?

```mysql
SELECT name 
FROM cd.facilities
WHERE membercost > 0
```

___

# 4. How can you produce a list of facilities that charge a fee to members, and that fee is less than 1/50th of the monthly maintenance cost? Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

```mysql
SELECT facid, name, membercost, monthlymaintenance
FROM cd.facilities
WHERE membercost > 0
AND membercost < monthlymaintenance / 50
```

___

# 5. How can you produce a list of all facilities with the word 'Tennis' in their name?

```mysql
SELECT name 
FROM cd.facilities 
WHERE name LIKE '%Tennis%'
```

____

# 6. How can you retrieve the details of facilities with ID 1 and 5? Try to do it without using the OR operator.

```mysql
SELECT name 
FROM cd.facilities 
WHERE facid IN (1,5)
```

___

# 7. How can you produce a list of members who joined after the start of September 2012? Return the memid, surname, firstname, and joindate of the members in question.

```mysql
SELECT memid, surname, firstname, joindate 
FROM cd.members 
WHERE joindate > '2012-09-01'
```

___

# 8. How can you produce an ordered list of the first 10 surnames in the members table? The list must not contain duplicates.

```mysql
SELECT DISTINCT surname 
FROM cd.members 
ORDER BY surname 
LIMIT 10
```

___

# 9. You'd like to get the signup date of your last member. How can you retrieve this information?

```mysql
SELECT MAX(joindate) FROM cd.members
```

___

# 10. Produce a count of the number of facilities that have a cost to guests of 10 or more.

```mysql
SELECT COUNT(facid) 
FROM cd.facilities
WHERE guestcost >= 10
```

___

# 11. Skip

___

# 12. Produce a list of the total number of slots booked per facility in the month of September 2012. Produce an output table consisting of facility id and slots, sorted by the number of slots.

```mysql
SELECT facid, SUM(slots)
FROM cd.bookings
WHERE extract(month FROM starttime) = 9
AND extract(year FROM starttime) = 2012
GROUP BY facid
ORDER BY COUNT(slots)
```

___

# 13. Produce a list of facilities with more than 1000 slots booked. Produce an output table consisting of facility id and total slots, sorted by facility id.

```mysql
SELECT facid, SUM(slots)
FROM cd.bookings
GROUP BY facid
HAVING SUM(slots) > 1000
ORDER BY facid
```

___

# 14. How can you produce a list of the start times for bookings for tennis courts, for the date '2012-09-21'? Return a list of start time and facility name pairings, ordered by the time.

```mysql
WITH subset AS (SELECT 
	table_b.name,
	table_a.starttime
FROM cd.bookings table_a
JOIN cd.facilities table_b ON table_a.facid = table_b.facid)
SELECT name, starttime
FROM subset
WHERE extract(day FROM starttime) = 21
AND extract(month FROM starttime) = 9
AND extract(year FROM starttime) = 2012
ORDER BY starttime

```

___

# 15. How can you produce a list of the start times for bookings by members named 'David Farrell'?

```mysql
SELECT a.starttime
FROM cd.bookings a
JOIN cd.members b ON a.memid = b.memid
WHERE b.surname = 'Farrell'
AND b.firstname = 'David'
```