# MIN MAX AVG SUM Aggregate Functions

- Already used the `COUNT` aggregate function

#### Example - `AVG`

```mysql
SELECT AVG(amount) FROM payment;
```

- **Note**: we can round our result to however many digits we want

```mysql
SELECT ROUND(AVG(amount),2) FROM payment;
```

#### Example - `MIN`

```mysql
SELECT MIN(amount) FROM payment;
```

#### Example - `MAX`

```mysql
SELECT MAX(amount) FROM payment;
```

#### Example - `SUM`

```mysql
SELECT SUM(amount) FROM payment;
```

____

# GROUP BY

- This clause assigns the rows in the table into different sets
    - For each set, we can apply an aggregate function

#### General `GROUP BY` Syntax

```mysql
SELECT col_1, agg_func(col_2)
FROM table_name
GROUP BY col_1;
```

#### Example 1 - Grouping without agg function

```mysql
SELECT customer_id 
FROM payment
GROUP BY customer_id;
```

- *What does this query return?*
    - The result will be equivalent to:
    
```mysql
SELECT DISTINCT customer_id FROM payment;
```

- *What if we have another column, but no aggregate function?*
    
```mysql
SELECT customer_id, amount 
FROM payment
GROUP BY customer_id
```

- Then, we get the error:

```
ERROR:  column "payment.amount" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: select customer_id, amount 
                            ^
SQL state: 42803
Character: 21
```

#### Example 2 - Total `amount` by `customer_id`

```mysql
SELECT customer_id, SUM(amount)
FROM payment
GROUP BY customer_id;
```

- From this query, we get the total amount spend by each customer

- If we had a dataframe `df` with two columns (`customer_id` and `amount`, the pandas equivalent to this query would be:

```python
df.groupby('customer_id').sum()
```

#### Example 3 - Total `amount` by `cutomer_id`, ordered by `amount`

```mysql
SELECT customer_id, SUM(amount)
FROM payment
GROUP BY customer_id
ORDER BY SUM(amount) DESC;
```

- The result of this query will be the same as the one above, except that the customers will be sorted by total amount

#### Example 4 - number of orders processed by `staff_id`

```mysql
SELECT staff_id, COUNT(payment_id)
FROM payment
GROUP BY staff_id;
```

#### Example 5 - number of films by rating category

```mysql
SELECT rating, COUNT(film_id) 
FROM film
GROUP BY rating;
```

____

# Challenge: GROUP BY

#### Challenge 1

- We have two staff members with staff IDs 1 and 2
    - We want to give a bonus to the staff member that handled the most payments
- **How many payments did each staff member handle?**
    - **How much was the total amount processed by each staff member?**

**Number of payments**

```mysql
SELECT staff_id, COUNT(payment_id) 
FROM payment
GROUP BY staff_id
ORDER BY COUNT(payment_id) DESC;
```

- Result

```
2	"7304"
1	"7292"
```

- As we can see, staff ID 2 handled more (wrt count)

**Total amount processed**

```mysql
SELECT staff_id, SUM(amount) 
FROM payment
GROUP BY staff_id
ORDER BY SUM(amount) DESC;
```


- Result

```
2	"31059.92"
1	"30252.12"
```

- Again, we see that staff ID 2 handled more (wrt amount processed)

#### Challenge 2

- Corporate headquarters is auditing our store
    - **What is the average replacement cost of movies by rating?**
    
    
```mysql
SELECT rating, AVG(replacement_cost)
from film
GROUP BY rating;
```

#### Challenge 3

- We want to send coupons to the 5 customers who have spent the most money
    - **Who are these 5 customers?**
    
```mysql
SELECT customer_id, SUM(amount)
FROM payment
GROUP BY customer_id
ORDER BY SUM(amount) DESC
LIMIT 5;
```

____

# HAVING

- `HAVING` is usually used at the same time as `GROUP BY`
    - We want the rows of the grouped table that satisfy the specified condition
        - This is essentially the `WHERE` clause, but for grouped queries

#### Syntax

```mysql
SELECT col_1, agg_func(col_2)
FROM our_table
GROUP BY col_1
HAVING our_condition;
```

#### `WHERE` vs. `HAVING`

- The `WHERE` clause is applied to the table **before** the grouping
    - The `HAVING` clause is applied **after**

#### Example 1 - getting customers who have spent more than 200 dollars

```mysql
SELECT customer_id, SUM(amount)
FROM payment
GROUP BY customer_id
HAVING SUM(amount) > 200;
```

#### Example 2 - getting the stores that have more than 300 customers

```mysql
SELECT store_id, COUNT(customer_id)
FROM customer
GROUP BY store_id
HAVING COUNT(customer_id) > 300;
```

#### Example 3 - getting the rating categories in the list [R, G, PG] whose average rental rate is less than 3 dollars

```mysql
SELECT rating, AVG(rental_rate)
FROM film
WHERE rating IN ('R', 'G', 'PG')
GROUP BY rating
HAVING AVG(rental_rate)<3;
```

____

# HAVING Challenge

#### Challenge 1

- We want to know what customers are eligible for our platinum credit card
    - Requirement: at least 40 transactions
    
- **Which customers are eligible?**

```mysql
SELECT customer_id, COUNT(payment_id)
FROM payment
GROUP BY customer_id
HAVING COUNT(payment_id) >= 40;
```

#### Challenge 2

- **When grouped by rating, which movie ratings have an average rental duration of more than 5 days?**

```mysql
SELECT rating, AVG(rental_duration)
FROM film
GROUP BY rating
HAVING AVG(rental_duration) > 5;
```