# AS Statement

- `AS` allows us to come up with an alias for a table selection

#### Example

```mysql
SELECT customer_id, SUM(amount) AS total_spent
FROM payment
GROUP BY customer_id;
```

- In the example above, the `SUM(amount)` column will be renamed to `total_spent`

____

# Overview of Inner Join

- So far, we've simply selected the columns and rows from a table, and specified how we want the data to be sorted
    - Now, we'll learn how to relate data in one table to another

#### Types of joins

1. Inner Join
2. Outer Join
3. Self-join

#### Syntax

```mysql
SELECT table_A.key_col, table_A.extra_col_1, table_B.key_col, table_B.extra_col_2
FROM table_A
INNER JOIN table_B ON table_A.key = table_B.key
```

**Note**: the pandas equivalent to this is:

```python
df_table_A.merge(df_table_B, on='customer_id', how='inner')
```

- INNER JOIN returns the keys that are included in **both** tables

 #### Example 1

```mysql
SELECT 
customer.customer_id, 
first_name, 
last_name,
email,
amount,
payment_date
FROM customer
INNER JOIN payment on payment.customer_id = customer.customer_id;
```

 #### Example 2
 
- Same as above, except specifying a customer_id

```mysql
SELECT 
customer.customer_id, 
first_name, 
last_name,
email,
amount,
payment_date
FROM customer
INNER JOIN payment on payment.customer_id = customer.customer_id;
WHERE customer.customer_id = 2
```

**Example 3**

- Selecting transactions handled by each staff member

```mysql
SELECT
    payment,
    amount,
    first_name,
    last_name
FROM payment
INNER JOIN staff ON payment.staff_id = staff.staff_id
```

- **Note**: in SQL, we can use `JOIN` instead of `INNER JOIN`
    - i.e. `INNER JOIN` is the default `JOIN`

**Example 4**

- Joining the description table onto the inventory table to see which movies are where

```mysql
SELECT
    store_id,
    title
FROM inventory
INNER JOIN film ON inventory.film_id = film.film_id
```

**Example 5**

- Counting the number of copies of each movie

```mysql
SELECT
    title,
    COUNT(title) as n_copies
FROM inventory
INNER JOIN film ON inventory.film_id = film.film_id
GROUP BY title
```

**Example 6**

- Getting the language of each movie

```mysql
SELECT
    film.title,
    language.name
FROM film
JOIN language on language.language_id = film.language_id
```

____

# Overview of Join Types

## 1. `INNER JOIN`

- Returns the set of records that are contained in **both** tables

![](images/inner_join.PNG)

```mysql
SELECT table_A.key, table_A.col
FROM table_A
INNER JOIN table_B
ON table_A.key=table_B.key
```

## 2. `FULL OUTER JOIN`

- Returns the set of records that are contained in **either** table

![](images/full_outer_join.PNG)

```mysql
SELECT table_A.key, table_A.col
FROM table_A
FULL OUTER JOIN table_B
ON table_A.key=table_B.key
```

## 3. `LEFT OUTER JOIN`

- Returns the set of records that are contained in the **first table**, with matching records from the second table (if available)

![](images/left_outer_join.PNG)

```mysql
SELECT table_A.key, table_A.col
FROM table_A
LEFT OUTER JOIN table_B
ON table_A.key=table_B.key
```

## 4. `LEFT OUTER JOIN with WHERE`

- Returns the records that are contained in the first table, but **not in the second table**
    - As we can see, it's a subset of `LEFT OUTER JOIN`

![](images/left_outer_join_w_where.PNG)

```mysql
SELECT table_A.key, table_A.col
FROM table_A
LEFT OUTER JOIN table_B
ON table_A.key=table_B.key
WHERE table_B.key IS NULL
```

## 5. `FULL OUTER JOIN with WHERE`

- Returns the records that are **in either table, but not both**
    - This is like the `FULL OUTER JOIN` with the `INNER JOIN` core removed
    
![](images/full_outer_join_w_where.PNG)

____

# Examples of Outer Joins

**Example 1**

- Joining the inventory ID onto the film title
    - If there are multiple copies of a single film, there will be multiple rows
    
```mysql
SELECT 
    film.film_id, 
    film.title, 
    film.inventory_id
FROM film
LEFT OUTER JOIN inventory ON inventory.film_id = film.film_id
```

**Example 2**

- Same as above, but only want films **that are missing from the inventory**
    - In the previous query, their inventory ID would be NULL
    
```mysql
SELECT 
    film.film_id, 
    film.title, 
    film.inventory_id
FROM film
LEFT OUTER JOIN inventory ON inventory.film_id = film.film_id
WHERE inventory.film_id IS NULL
```

**Example 3**

- Same as above, but only want films **that aren't missing from the inventory**
    
```mysql
SELECT 
    film.film_id, 
    film.title, 
    film.inventory_id
FROM film
LEFT OUTER JOIN inventory ON inventory.film_id = film.film_id
WHERE inventory.film_id IS NOT NULL
```

____

# UNION

- The UNION operator combines results of two or more SELECT statements

```mysql
SELECT col_1, col_2
FROM table_A
UNION
SELECT col_1, col_2
FROM table_B
```

**Rules**

1. Both results must have the same number of columns
2. The data types in each column must match across tables
3. Unless `UNION ALL` is used, all duplicate rows are deleted

- `UNION` is usually used to combine two different tables to make analysis easier