# AS Statement

- `AS` allows us to come up with an alias for a table selection

#### Example

```mysql
SELECT customer_id, SUM(amount) AS total_spent
FROM payment
GROUP BY customer_id;
```

- In the example above, the `SUM(amount)` column will be renamed to `total_spent`

____

# Overview of Inner Join

- So far, we've simply selected the columns and rows from a table, and specified how we want the data to be sorted
    - Now, we'll learn how to relate data in one table to another

#### Types of joins

1. Inner Join
2. Outer Join
3. Self-join

#### Syntax

```mysql
SELECT table_A.key_col, table_A.extra_col_1, table_B.key_col, table_B.extra_col_2
FROM table_A
INNER JOIN table_B ON table_A.key = table_B.key
```

**Note**: the pandas equivalent to this is:

```python
df_table_A.merge(df_table_B, on='customer_id', how='inner')
```

- INNER JOIN returns the keys that are included in **both** tables

 #### Example 1

```mysql
SELECT 
customer.customer_id, 
first_name, 
last_name,
email,
amount,
payment_date
FROM customer
INNER JOIN payment on payment.customer_id = customer.customer_id;
```

 #### Example 2
 
- Same as above, except specifying a customer_id

```mysql
SELECT 
customer.customer_id, 
first_name, 
last_name,
email,
amount,
payment_date
FROM customer
INNER JOIN payment on payment.customer_id = customer.customer_id;
WHERE customer.customer_id = 2
```