# Timestamps

### Extract Function

- Equvalent to getting year, month, day, etc. from a `datetime` object in python

![](images/extract_function_table.PNG)

**Example 1**

- Getting the day instead of the date from the payment table

```mysql
SELECT extract(day from payment_date) FROM payment
```

**Example 2**

- Getting the monthly expenditures

```mysql
SELECT SUM(amount) as total, extract(month from payment_date) AS month
FROM payment
GROUP BY month
ORDER BY total DESC
```

____

# Mathematical Functions

### Table 1 - Mathematical Operators

![](images/mathematical_operators_table.PNG)

### Table 2 - Mathematical Functions

![](images/mathematical_functions_table.PNG)

_____

# String Functions

![](images/string_function_table.PNG)

____

# Subqueries

- A subquery is essentially a query within a query

**Example**

- Suppose we want to find all films whose rental rate is above average
    - Steps using the LONG WAY:
        1. Find the average rental rate
        2. Select the films that exceed this value

*Step 1*

```mysql
SELECT AVG(rental_rate) FROM film
```

- Result: 2.98

*Step 2*

```mysql
SELECT title, rental_rate
FROM film
WHERE rental_rate > 2.98
```

- We want to be able to do this in one query instead of two

*Subquery Method*

```mysql
SELECT title, rental_rate
FROM film
WHERE rental_rate > (SELECT AVG(rental_rate) FROM film)
```

____

# Self-join

- When we want to combine rows with other rows from the same table, we can use a self join
- To use a self-join, we need to use an alias for the table

**Example 1**

- Assume we have the table with the following employees

![](images/self_join.PNG)

- Suppose we want to find out which employees are from the same employee location as Joe

*Easiest way to solve*

```mysql
SELECT employee_name
FROM employee
WHERE employee_location = "New York"
```

- But this requires that we know that Joe lives in New York
    - We'd prefer a more dynamic approach

*Solution using subquery*

```mysql
SELECT employee_name
FROM employee
WHERE employee_location IN (
    SELECT employee_location
    FROM employee
    WHERE employee_name = 'Joe')
```

- This method is actually slower than the self-join

*Solution using self-join*

```mysql
SELECT table_1.employee_name
FROM employee AS table_1, employee AS table_2
WHERE table_1.employee_location = table_2.employee_location
AND table_2.employee_name = 'Joe'
```

**Example 2**

- Suppose we want a list of movies released in the same year as Chamber Italian

```mysql
SELECT table_1.title
FROM film AS table_1, film AS table_2
WHERE table_1.release_year = table_2.release_year
AND table_2.title = 'Chamber Italian'
```

**Example 3**

- What if we wanted to find all customers with a first name matching another customer's last name

```mysql
SELECT table_1.first_name, table_1.last_name, table_2.first_name, table_2.last_name
FROM customer AS table_1, customer AS table_2
WHERE table_1.first_name = table_2.last_name
```