# Overview

1. Start by understanding
    - Data Types
    - Primary Keys
    - Foreign Keys
2. Practice creating tables and manipulating data inside them
3. Learn to manipulate entire tables
4. Take a more in-depth view of contraint concepts

____

# Data Types

- PostgreSQL supports the following data types:
    1. Boolean (TRUE or FALSE)
    2. Character (i.e. string)
    3. Number (i.e. float or int)
    4. Temporal (i.e. date or time unit)
    5. Special types (e.g. geometric)
    6. Array (e.g. [0, 1, 2, 3, 4])

- We specify the data type so that no one can add the wrong data type to a column
    - E.g. if we have a column of street names, we don't want someone to be able to add a date into the column

## 1. Boolean

- When we input the values, PostgreSQL will convert them to the correct form:
    - 1, yes, Y, t, and true are all converted to TRUE
    - 0, no, N, f, and false are all converted to FALSE
    - a blank space is converted to NULL

## 2. Character

- There are 3 subtypes of the character data type:
    1. `char`
        - A single character
        - E.g. 'a'
    2. `char(n)`
        - A fixed-length character string
        - E.g. 'alabama'
        - **Notes**: 
            - if we try to insert a string that *isn't long enough*, the missing characters will be input as spaces
            - if we try to insert a string that *is too long*, we'll get an error
    3. `varchar(n)`
        - A string of up to n-characters in length
        - **Note**:
            - if we try to insert a string that is less than n characters long, the missing characters **won't** be input as spaces
            - if we try to insert a string that is more than n characters long, we'll get an error

## 3. Number

- There are 2 subtypes of the number data type
    1. `int`
        - integers
        - E.g. 1, 2, 3, ...
    2. `float`
        - floating-point numbers
        - E.g. 3.14, 18.181818181
        
### Types of integers
        
#### 3.1.1 - `smallint`

- These are 2-byte sized integers
- Must be between -32,768 and 32,767

#### 3.1.2 - `int`

- These are 4-byte sized integers
- Must be between -214,783,648 and 214,783,647

#### 3.1.3 - `serial`

- This keeps a running tally of the values

### Types of floating-point numbers

#### 3.2.1 - `float(n)`

- Has precision of at least n
    - **Note**: the maximum possible value for n is 8
    
#### 3.2.2 - `real` (or `float8`)

- These are 8-byte sized floats
    - A.k.a. double precision
    
#### 3.2.3 - `numeric` (or `numeric(p,s)`)

- These are real numbers with p digits where s are after the decimal point
- **Note**: if we want the number to be as exact as possible (minimal rounding), we'd use numeric(p,)

## 4. Temporal

1. `date`
    - Stores an actual date
    - E.g. '2019-07-22'
2. `time`
    - Stores time data
    - E.g. '7:00:03'
3. `timestamp`
    - Combination of date and time
    - E.g. '2019-07-22:07:00:03'
4. `interval`
    - Stores the difference between time stamps
    - E.g. 'INTERVAL ‘23:06:5.5’ HOUR TO SECOND'
5. `timestamptz`
    - Stores both the timestamp and timezone data

____

# Primary Keys and Foreign Keys

## Primary Key

- A column (or group of columns) used to identify a specific row in a table
- Primary keys are defined using primary key contraints
- A table can **only have one primary key**
    - It is good practice to ensure that each table has a primary key
- When you add a primary key to a table, PostgreSQL creates a unique index on the column(s)

**Example**

- In the customer table, we had columns customer_id, first_name, and last_name
    - The primary key for this table was the customer_id
        - No two customers had the same id
        
- **Note**: a lot of the time, we'll use a serial data type for our primary key (since it auto-increments)

- Usually, we create the primary key while we're creating the table
    - We create the table using the `create table` statement:
    
```mysql
CREATE TABLE table_name (
    col_1 data_type_1 PRIMARY KEY, 
    col_2 data_type_2
)
```

## Foreign Key

- A field (or group of fields) used to identify a specific row **in another table**
    - i.e. a foreign key *refers to the primary key of another table*
- A table that contains a foreign key is called a **referencing table** (or a **child table**)
    - The table that the foreign key is referencing is called a **referenced table** (or a **parent table**)

- **Note**: a table can have multiple foreign keys
    - It all depends on its relationships with other tables

**Example**

- Consider the payment table and the customer table
    - The payment table has a primary key that identifies a specific transaction
    - The payment table also has a foreign key that references the specific customer that corresponds to the transaction
        - So, the primary key of the customer table (the customer id) is the foreign key of the payment table

- Foreign keys are defined through foreign key constraints
    - These contraints specify the values in a column of the parent table
- **Note**: we say that a foreign key constraint maintains *referential integrity* between child and parent tables

___

# Create Table

```mysql
CREATE TABLE table_name
(col_name TYPE column_constraint,
table_constraint)
INHERITS existing_table_name
```

**Outline of steps**

1. Specify table name
2. Define each column with its
    - name
    - data type
    - contraint
3. Specify any table constraints
4. Specify any existing table that the new table inherits
    - This means that the new table gets all the same columns with their respective properties

## PostgreSQL Column Constraints

1. `NOT NULL`
    - Column can't contain any blank values
2. `UNIQUE`
    - The same value can't be in the column more than once


- **Note**: in postgreSQL, each null value is considered distinct
    - This means that a column with all blank value will satisfy the condition that the same value isn't repeated
        - This isn't consistent with normal SQL

3. `PRIMARY KEY`
    - This combines:
        - `NOT NULL`
        - `UNIQUE`


- **Note**: if we want a single column to be our primary key, we can use this column constraint
    - If we want multiple columns to be our primary key, we need to use a **table constraint**

3. `CHECK`
    - We can use this constraint to check a condition we define
        - E.g. if we have a price column, we can check that all price values are positive
4. `REFERENCES`
    - Contains a value from a column of another table
    - This specifies the foreign key constraint

## PostgreSQL Table Constraints

- These are similar to the column constraints, except they apply to the whole table


1. `UNIQUE (column_list)`
    - No duplicate values in the columns listed
2. `PRIMARY KEY (column_list)`
    - Uses multiple columns to define the primary key of the table
3. `CHECK (condition)`
    - Applies the condition check to the entire table
4. `REFERENCES`
    - Constrains values stored in the column that must exist in a column in another table

## Example

### 1. Account table

**Columns**

1. `user_id`
    - This is our primary key, so we simply want an integer
        - For this, we'll use the serial data type
2. `username`
    - For this, we want a distinct string that is not blank and unique
3. `password`
    - This can be a string, and can't be blank
4. `email`
    - We need each email to be distinct, and can't be blank
5. `created_on`
    - This will be a time stamp, and can't be blank
6. `last_login`
    - This is a time stamp without any constraints
    
**Creating the table**

```mysql
CREATE TABLE account(
    user_id serial PRIMARY KEY,
    username VARCHAR(50) UNIQUE NOT NULL,
    password VARCHAR(50) NOT NULL,
    email VARCHAR(355) UNIQUE NOT NULL
    created_on TIMESTAMP NOT NULL,
    last_login TIMESTAMP)
```

### 2. Role table

**Columns**

1. `role_id`
    - This is just the primary key of the table
        - As above for the `user_id`, we use series with the primary key constraint
2. `role_name`
    - This is the actual title for the role, so we'll use a string of limit 255 characters
    - Our constraints will be that it's unique, and not blank

```mysql
CREATE TABLE role(
    role_id serial PRIMARY KEY,
    role_name VARCHAR(255) UNIQUE NOT NULL)
```

### 3. Account role table

```mysql
CREATE TABLE account_role(
    user_id integer NOT NULL,
    role_id integer NOT NULL,
    grant_date timestamp without time zone,
    PRIMARY KEY (user_id, role_id))
```

____

# Challenge: Create Table

- Create a table to organize our potential leads! We will have the following information:
    - A customer's first name, last name, email, sign-up date, and number of minutes spent on the dvd rental site
        - You should also have some sort of id tracker for them

**My solution**

```mysql
CREATE TABLE potential_leads(
    lead_id serial PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(50) UNIQUE NOT NULL,
    sign_up_date TIMESTAMP NOT NULL,
    n_minutes_on_site integer NOT NULL)
```

____

# INSERT

- When we create a new table, it's empty
    - We use insert to add rows to the table
    
```mysql
INSERT INTO table_name(col_1, col_2, ...)
VALUES (val_1, val_2, ...)
```

- If we want to insert data from another table, we use `INSERT INTO SELECT` as follows:

```mysql
INSERT INTO new_table_name
SELECT col_1, col_2
FROM existing_table_name
WHERE condition
```

## Example

- First, we'll create a new table

```mysql
CREATE TABLE link(
    ID serial PRIMARY KEY,
    url VARCHAR(255) NOT NULL,
    name VARCHAR(255) NOT NULL,
    description VARCHAR(255),
    rel VARCHAR(50))
```

- Next, we'll insert a new row

```mysql
INSERT INTO link(url,name)
VALUES
('www.google.com', 'Google')
```

- We only specified the url and the name
    - We didn't specify the ID, the description, or the rel value
        - The ID value will be populated automatically since it's a serial data type
        - The description and rel columns don't have the `NOT NULL` constraint, so they'll be blank

- Next, we insert several rows at once

```mysql
INSERT INTO link (url, name)
VALUES
('www.bing.com', 'Bing'),
('www.amazon.com', 'Amazon')
```

- Finally, let's try creating another table, and filling it with data from the link table

```mysql
CREATE TABLE link_copy(LIKE link)
```

```mysql
INSERT INTO link_copy
SELECT * FROM link
WHERE name = 'Bing'
```

____

# UPDATE

- We use `UPDATE` to modify data already in the table

```mysql
UPDATE table_name
SET col_1 = val_1,
    col_2 = val_2
WHERE condition
```

## Example

- We'll use the link table we made earlier
    - We previously hadn't added a description yet for any of the sites we added
    
**Setting each description (which is currently NULL) to 'Empty Description'**

```mysql
UPDATE link
SET description = 'Empty Description'
```

- Now, every row will have this value (since we didn't set any conditions)

**Updating rows based on a condition**

- Here, we'll change the description for the rows whose name value starts with the letter A

```mysql
UPDATE link
SET description = 'Name starts with an A'
WHERE name LIKE 'A%'
```

**Copying one column's values into another**

```mysql
UPDATE link
SET description = name
```

- Now, each row's description will be the same as its name

**Updating the table, and seeing the updated rows**

- We can use `RETURNING` to see our changes after the query runs

```mysql
UPDATE link
SET description
WHERE id = 1
RETURNING id, url, name, description
```

____

# DELETE

```mysql
DELETE FROM table_name
WHERE condition
```

- After we run the delete statement, it returns the number of rows deleted
    - If no rows are deleted (i.e. no rows matched our condition), then it'll return 0
    
## Example

**Delete any row where the name of the row starts with the letter B**

```mysql
DELETE FROM link
WHERE name LIKE 'B%'
```

- Since our table has two rows that satisfy the condition (b.com and bing.com), this will return a value of 2

**Delete a.com, except we'll use RETURNING to see the result**

```mysql
DELETE FROM link
WHERE name = 'A'
RETURNING *
```

- This will return the row that we deleted

____

# ALTER TABLE

- We can use this function to change the structure for a table that already exists in our database

```mysql
ALTER TABLE table_name action
```

- The keywords we'll use are:
    1. `ADD COLUMN`
    2. `DROP COLUMN`
    3. `RENAME COLUMN`
    4. `ADD CONSTRAINT`
    5. `RENAME TO`

**Creating a new link table to work with**

```mysql
CREATE TABLE link(
    link_id serial PRIMARY KEY,
    title VARCHAR(512) NOT NULL,
    url VARCHAR(1024) NOT NULL UNIQUE
```

## Example - `ADD COLUMN`

- Adding a TRUE/FALSE column called 'active'

```mysql
ALTER TABLE link ADD COLUMN active boolean
```

## Example - `DROP COLUMN`

- Removing the 'active' column we just added

```mysql
ALTER TABLE link DROP COLUMN active
```

## Example - `RENAME COLUMN`

- Renaming the `title` column to `name`

```mysql
ALTER TABLE link COLUMN title TO name
```

## Example - `RENAME TO`

- Renaming the entire table from 'link' to 'url_table'

```mysql
ALTER TABLE link RENAME TO url_table
```

____

# DROP TABLE

- We use this command to remove an existing table from the database

```mysql
DROP TABLE table_name
```

- If we want to avoid errors if the table doesn't exist, we can use the optional IF EXISTS statement

```mysql
DROP TABLE IF EXISTS table_name
```

- If we want to remove the option we drop a table if there's another table that's dependent on it, we can add the RESTRICT keyword

```mysql
DROP TABLE table_name RESTRICT
```

- If we want to delete a table, **along with all tables that depend on it**, we can use the CASCADE keyword

```mysql
DROP TABLE table_name CASCADE
```